.AddNewBook .container {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #2a9d8f;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddNewBook .label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  visibility: hidden;
}

.AddNewBook .label-text {
  color: #fff;
  background: rgba(51, 51, 51, 0.5);
  display: table-cell;
  padding: 10px;
  border-radius: 3px;
}

.AddNewBook .container + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.AddNewBook .container:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}

.AddNewBook .label-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(51, 51, 51, 0.5);
}
