.AutomaticBookForm {
  display: flex;
  flex-direction: column;
  min-width: 720px;
}

.AutomaticBookForm .search {
  margin-top: 1em;
  width: auto;
  position: relative;
  display: flex;
}

.AutomaticBookForm .search input {
  width: 100%;
  border: 3px solid #219ebc;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: #219ebc;
  background-color: #2a2e37;
}

.AutomaticBookForm .search svg {
  position: absolute;
  right: 1%;
  fill: #219ebc;
  width: 40px;
  height: auto;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.25em;
  transition: transform 300ms ease-in-out;
}

.AutomaticBookForm .search svg:hover {
  transform: scale(1.25, 1.25);
}

.AutomaticBookForm .filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5em;
}
.AutomaticBookForm .filter input[type="radio"] {
  display: none;
}
.AutomaticBookForm .filter input[type="radio"] + label {
  font-weight: 400;
  font-size: 14px;
}
.AutomaticBookForm .filter input[type="radio"] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.AutomaticBookForm .filter input[type="radio"] + label span {
  background-color: #fff;
}
.AutomaticBookForm .filter input[type="radio"]:checked + label {
  color: #2a9d8f;
  font-weight: 700;
}
.AutomaticBookForm .filter input[type="radio"]:checked + label span {
  background-color: #2a9d8f;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.AutomaticBookForm .filter input[type="radio"] + label span,
.AutomaticBookForm .filter input[type="radio"]:checked + label span {
  transition: background-color 0.24s linear;
}

.AutomaticBookForm .results {
  margin-top: 0.5em;
}

.AutomaticBookForm .results .Book {
  position: relative;
  background-color: #1d3557;
}

.AutomaticBookForm .results .Book .details .text,
.AutomaticBookForm .results .Book .details .title,
.AutomaticBookForm .results .Book .read-state input[type="number"] {
  color: #219ebc;
}

.AutomaticBookForm .alert-success {
  height: auto;
  background: #d4edda;
  color: #155724;
  margin-top: 1em;
  margin-bottom: 1em;

  width: 100%;
  padding: 15px;
  position: relative;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 16px;
  border-left: 8px solid #23ad5c;
}
.AutomaticBookForm .alert-icon {
  margin-right: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.AutomaticBookForm .alert-content {
  width: 100%;
  line-height: 1.5;
  color: #155724;
}

.AutomaticBookForm .alert-close {
  margin-left: 10px;
  opacity: 0.7;
  transition: 0.5s;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.AutomaticBookForm .alert-success svg {
  fill: #23ad5c;
}
