.Book {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 40em;
  margin-bottom: 2em;
  padding: 2em;

  perspective: 30em;
  transition: all 0.1s;
  background-color: #282a36;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 5em;
  position: relative;

  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Book.open {
  height: auto;
}

.Book .cover {
  transition: all 0.5s;
  width: 10em;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.Book.open .cover {
  transform: rotateY(50deg);
  box-shadow: -10px 10px 10px 2px rgba(0, 0, 0, 0.2), -2px 0px 0px 0px #888;
  transition: all 0.5s;
  transition-delay: 0.05s;
}

.Book .details {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.2s;
  width: 100%;
}
.Book.open .details {
  text-align: start;
}

.Book .title {
  font-weight: bold;
  font-size: 1.25em;
  color: #2a9d8f;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 2em;
}

.Book .text {
  color: #2a9d8f;
}

.Book .button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: inherit;

  transform: scale(0.8);
  transition: transform 0.25s, opacity 0.25s;
}

.Book .button svg {
  fill: #2a9d8f;
}

.Book .add svg {
  width: 2em;
  height: 2em;
}

.Book .button.add:hover {
  transform: scale(1.15, 1.15);
}

.Book .button.delete:hover {
  transform: rotate(90deg) scale(1.2);
}

.Book .read-state {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Book .read-state .title {
  font-size: 1em;
  margin: 0.25em;
}

.Book .read-state input[type="number"] {
  width: 2em;
  font-size: 1em;
  background-color: inherit;
  border: none;
  margin-bottom: 0.5em;
  color: #2a9d8f;
}
.Book .read-state input[type="number"]:focus {
  outline: none;
  border-bottom: 1px solid #3f51b5;
}

@media screen and (max-width: 750px) {
  .Book {
    width: 90%;
  }
}

@media screen and (max-width: 620px) {
  .Book .read-state {
    align-items: flex-start;
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 520px) {
  .Book {
    padding: 1em;
  }
  .Book .details {
    font-size: 90%;
  }
  .Book .details .title {
    font-size: 95%;
  }
}
