.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

.Header .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header svg {
  margin-right: 2em;
  width: 5em;
  height: 5em;
}

@media screen and (max-width: 800px) {
  .Header {
    flex-direction: column;
  }
}
