.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

.Header .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Header svg {
  margin-right: 2em;
  width: 5em;
  height: 5em;
}

.Header .stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #2a2e37;
  padding: 2em;
}

.Header .stats .title {
  font-size: large;
  font-weight: bold;
}
